/* Hero.css */

.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../assets/images/lotes.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%; /* Asegurar que el contenedor de los botones tenga un ancho del 100% */
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /* Asegurar que el texto dentro de los botones esté centrado */
}

.btn-primary {
    background: #ffd700;
    color: black;
}

.btn-primary:hover {
    background: #e6c200;
}

.btn-secondary {
    background: #25d366;
    color: white;
}

.btn-secondary:hover {
    background: #1ebe5d;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 10px;
        align-items: center; /* Asegurar que los botones estén centrados en dispositivos móviles */
    }

    .hero-buttons .btn {
        width: 100%;
        padding: 15px;
    }
}